<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Novo Evento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'setup/estilo_padrao.css' %}">
    <link rel="stylesheet" href="{% static 'css/criar_evento.css' %}">
</head>
<body>
    <img src="{% static 'images/event-manager.png' %}" alt="Logo Gerenciador de Eventos">

    <div class="criar-evento-container">
        <a href="{% url 'pagina_principal' %}" class="btn-voltar">
            <i class="bi bi-chevron-left"></i>
        </a>
        <h1>Criar Novo Evento</h1>
        <hr class="hr-eventos">
        <form method="post">
            {% csrf_token %}
            <!-- Nome do Evento -->
            <div class="form-group">
                <label for="{{ form.nome.id_for_label }}" class="label-nome-evento">Nome do Evento:</label>
                {{ form.nome }}
            </div>
            
            <!-- Data e Hora -->
            <div class="form-group">
                <label for="{{ form.data_hora.id_for_label }}" class="label-data-hora-evento">Data e Hora:</label>
                {{ form.data_hora }}
            </div>

            <!-- Endereço -->
            <div class="form-group">
                <label for="{{ form.endereco.id_for_label }}" class="label-endereco-evento">Endereço:</label>
                {{ form.endereco }}
            </div>

            <!-- Descrição -->
            <div class="form-group descricao">
                <label for="{{ form.descricao.id_for_label }}" class="label-descricao-evento">Descrição:</label>
                {{ form.descricao }}
            </div>

            <!-- Limite de Convidados -->
            <div class="form-group">
                <label for="{{ form.limite_convidados.id_for_label }}" class="label-limite-convidados-evento">Limite de Convidados:</label>
                {{ form.limite_convidados }}
            </div>

            <!-- Visibilidade -->
            <div class="form-group visibilidade">
                <label for="{{ form.visibilidade.id_for_label }}" class="label-visibilidade-evento">Visibilidade:</label>
                {{ form.visibilidade }}
            </div>

            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="btn-container">
                <button type="submit" class="btn-criar">Criar Evento</button>
            </div>
        </form>
    </div>
</body>
</html>