<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Evento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'setup/estilo_padrao.css' %}">
    <link rel="stylesheet" href="{% static 'css/detalhes_evento.css' %}">
</head>
<body>

    <img src="{% static 'images/event-manager.png' %}" alt="Logo Gerenciador de Eventos">
    
    <div class="event-details">
        <a href="{% url 'pagina_principal' %}" class="btn-voltar">
            <i class="bi bi-chevron-left"></i>
        </a>
        <h1>{{ evento.nome }}</h1>
        <hr class="hr-eventos">

        {% if evento.criador != request.user %}
            <p><strong>Criador:</strong> {{ evento.criador.username }}</p>
        {% endif %}

        <p><strong>Data e Hora:</strong> {{ evento.data_hora }}</p>
        <p><strong>Endereço:</strong> {{ evento.endereco }}</p>
        <p><strong>Descrição:</strong> {{ evento.descricao }}</p>
        <p><strong>Limite de Convidados:</strong> {{ evento.limite_convidados }}</p>

        {% if evento.criador == request.user %}
            <p><strong>Visibilidade:</strong> {{ evento.visibilidade }}</p>
        {% endif %}

        <div class="botoes">
            {% if evento.criador == request.user %}
                <a href="{% url 'editar_evento' evento.id %}" class="btn-editar">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <form method="post" action="{% url 'deletar_evento' evento.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-deletar">
                        <i class="bi bi-trash3"></i>
                    </button>
                </form>
            {% elif request.user in evento.convidados.all %}
                <form method="post" action="{% url 'desinscrever_evento' evento.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-desinscrever">Desinscrever-se</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'inscrever_evento' evento.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-inscrever">Inscrever-se</button>
                </form>
            {% endif %}
        </div>

        {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    </div>
 
</body>
</html>