body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    align-self: center;
    width: 125px;
    padding-block: 30px;
}

.cadastro-container {
    position: relative;
    align-self: center;
    width: 50%;
    padding: 90px 75px 60px 75px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--roxo);
    border: 2px solid var(--roxo);
}

.cadastro-container label {
    font-size: 1.1em;
    font-weight: bolder; 
}

.cadastro-container input, .cadastro-container select {
    font-size: 1em; 
    padding: 2px; 
    margin-bottom: 15px;
}

.password-help {
    display: block;
    margin-bottom: 15px;
}

.errorlist {
    color: red;
}

.errorlist li {
    margin-bottom: 15px;
}

.btn-cadastrar {
    display: inline-block;
    cursor: pointer;
    padding: 7.5px 15px;
    margin-bottom: 15px;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bolder;
    color: var(--roxo);
    background-color: white;
    border: 2px solid var(--roxo);
    transition: 0.3s;
}

.btn-voltar {
    display: inline-block;
    cursor: pointer;
    padding: 7.5px 15px;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bolder;
    color: var(--roxo);
    background-color: white;
    border: 2px solid var(--roxo);
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.3s;
}

.btn-voltar:hover, .btn-cadastrar:hover {
    background-color: var(--roxo);
    color: white;
    transform: scale(1.05);
}