body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    align-self: center;
    width: 125px;
    padding-block: 30px;
}

.container-principal {
    position: relative;
    align-self: center;
    width: 50%;
    padding: 90px 75px 60px 75px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--roxo);
    border: 2px solid var(--roxo);
}

.btn-voltar {
    display: inline-block;
    cursor: pointer;
    padding: 7.5px 15px;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bolder;
    color: var(--roxo);
    background-color: white;
    border: 2px solid var(--roxo);
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: var(--roxo);
    color: white;
}