* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    padding: 20px;
}

img {
    display: block;
    width: 250px;
    margin: auto;
}

.btn-perfil {
    position: absolute; 
    top: 40px; 
    right: 50px; 
    color: #5E17EB; 
    font-size: 24px; 
    text-decoration: none; 
    transition: 0.3s;
}

.btn-perfil:hover {
    color: #6f27ff;
    transform: scale(1.03);
}

i {
    font-size: 40px;
}

.section {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    padding: 15px;
}

.hr-eventos {
    margin-bottom: 20px;
    border: 1px solid #f6d30ba9;
}

.meus-eventos,
.eventos-publicos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.create-event-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 180px;
    color: #5E17EB;
    border: 1px solid #5E17EB;
    border-radius: 10px;
    transition: 0.3s;
}

.create-event-btn:hover {
    color: #5E17EB;
    transform: scale(1.03);
}

.create-event-btn i {
    font-size: 40px;
}

.event-card-link {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.event-card-link:hover {
    transform: scale(1.03);
}

.meus-eventos .event-card,
.eventos-publicos .event-card {
    width: 250px; 
    height: 180px; 
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #5E17EB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui espaço entre os elementos */
    overflow: hidden;
}

.event-card h3 {
    margin-bottom: 7px;
}

.event-card p {
    margin-bottom: 5px;
}

.event-card p.descricao {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
} 