header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.250);
}

.btn-logout {
    position: absolute; 
    left: 50px; 
    color: rgb(230, 0, 0); 
    font-size: 24px; 
    text-decoration: none; 
    transition: 0.3s;
}

.btn-logout:hover {
    color: red;
    transform: scale(1.03);
}

header img {
    display: block;
    width: 150px;
    margin: auto;
}

.btn-perfil {
    position: absolute; 
    right: 50px; 
    color: var(--roxo); 
    font-size: 24px; 
    text-decoration: none; 
    transition: 0.3s;
}

.btn-perfil:hover {
    color: var(--roxo-hover);
    transform: scale(1.03);
}

i {
    font-size: 40px;
}

.section {
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    padding: 15px;
}

.meus-eventos,
.eventos-publicos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.create-event-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 200px;
    color: var(--roxo);
    border: 1px solid var(--roxo);
    border-radius: 10px;
    box-shadow: 0 0 2px var(--roxo);
    transition: 0.3s;
}

.create-event-btn:hover {
    transform: scale(1.03);
}

.create-event-btn i {
    font-size: 40px;
}

.event-card-link {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.event-card-link:hover {
    transform: scale(1.02);
}

.meus-eventos .event-card,
.eventos-publicos .event-card {
    width: 250px; 
    height: 200px; 
    padding: 15px;
    box-shadow: 0 0 2px var(--roxo);
    border: 1px solid var(--roxo);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.event-card p.descricao {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita o texto a 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona "..." no final */
    white-space: normal;
} 