body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    align-self: center;
    width: 125px;
    padding-block: 30px;
}

.event-details {
    position: relative;
    align-self: center;
    width: 50%;
    padding: 90px 75px 60px 75px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--roxo);
    border: 2px solid var(--roxo);
}

.hr-eventos {
    margin-bottom: 30px;
}

.event-details p {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.event-details p:last-of-type {
    margin-bottom: 30px; 
}

.botoes {
    display: flex;
    gap: 30px;
}

.btn-editar, .btn-deletar, .btn-inscrever, .btn-desinscrever, .btn-voltar {
    display: inline-block;
    cursor: pointer;
    padding: 7.5px 15px;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bolder;
    color: var(--roxo);
    background-color: white;
    border: 2px solid var(--roxo);
    transition: 0.3s;
}

.btn-voltar {
    position: absolute;
    top: 20px; 
    left: 20px;
}

.btn-inscrever {
    color: blue;
    border: 2px solid blue;
    font-size: 1.07em;
}

.btn-inscrever:hover {
    background-color: blue;
    color: white;
}

.btn-desinscrever {
    color: red;
    border: 2px solid red;
    font-size: 1.07em;
}

.btn-desinscrever:hover {
    background-color: red;
    color: white;
}

.btn-editar:hover, .btn-deletar:hover, .btn-voltar:hover {
    background-color: var(--roxo);
    color: white;
}

.alert {
    margin-top: 20px;
    font-size: 1.2em;
    color: red;
}