<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'setup/estilo_padrao.css' %}">
    <link rel="stylesheet" href="{% static 'css/editar_perfil.css' %}">
</head>
<body>

    <img src="{% static 'images/event-manager.png' %}" alt="Logo Gerenciador de Eventos">

    <div class="container-principal">
        <a href="{% url 'perfil_usuario' %}" class="btn-voltar">
            <i class="bi bi-chevron-left"></i>
        </a>
        <h1>Editar Perfil</h1>
        <hr class="hr-eventos">
        <form method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            <button type="submit" name="salvar" class="btn-submit">Salvar Alterações</button>
        </form>
        <h2>Alterar Senha</h2>
        <form method="POST">
            {% csrf_token %}
            {{ senha_form.as_p }}
            <button type="submit" name="alterar_senha" class="btn-submit">Alterar Senha</button>
        </form>
        {% if senha_form.non_field_errors %}
            <div class="error">
                {{ senha_form.non_field_errors }}
            </div>
        {% endif %}
        <h2>Excluir Conta</h2>
        <form method="POST" action="{% url 'excluir_conta' %}">
            {% csrf_token %}
            <button type="submit" class="btn-delete" onclick="return confirm('Tem certeza que deseja excluir sua conta? Esta ação não pode ser desfeita.')">
                Excluir Conta
            </button>
        </form>
    </div>

</body>
</html>
