<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'setup/estilo_padrao.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>
<body>
    <img src="{% static 'images/event-manager.png' %}" alt="Logo Gerenciador de Eventos">

    <div class="perfil-container">
        <a href="{% url 'pagina_principal' %}" class="btn-voltar">
            <i class="bi bi-chevron-left"></i>
        </a>
        <h1>Meu Perfil</h1>
        <hr class="hr-eventos">
        <p><strong>Nome de usuário:</strong> {{ usuario.username }}</p>
        <p><strong>Email:</strong> {{ usuario.email }}</p>
        <p><strong>Data de Nascimento:</strong> {{ usuario.data_nascimento }}</p>
        <p><strong>Sexo:</strong> {{ usuario.sexo }}</p>

        <a href="{% url 'editar_perfil' %}" class="btn-editar">Editar Perfil</a>
    </div>
</body>
</html>